######################################################################
# Basic application settings
######################################################################
NODE_ENV=development
LISTEN_HOST=localhost
LISTEN_PORT=8080
API_BASE_PATH=api
LOG_LEVEL=debug
TZ=UTC

######################################################################
# Configuration file path
######################################################################
CONFIG_PATH=./config.yaml


