######################################################################
# Basic application settings
######################################################################
NODE_ENV=production
LISTEN_HOST=0.0.0.0
LISTEN_PORT=8080
API_BASE_PATH=api
LOG_LEVEL=warn
TZ=UTC

######################################################################
# Configuration file path
######################################################################
CONFIG_PATH=./config.yaml


######################################################################
# Custom Variables
# You can define your own variables here and use them in config.yaml
# Example: MY_TELEGRAM_TOKEN=...
######################################################################

