services:
  nestjs-boilerplate:
    image: ghcr.io/bozonx/nestjs-boilerplate:latest
    container_name: nestjs-boilerplate
    hostname: nestjs-boilerplate
    restart: unless-stopped
    user: '1000:1000'
    ports:
      - '8080:8080'
    environment:
      - TZ=UTC
      - API_BASE_PATH=api
      - LOG_LEVEL=warn
    healthcheck:
      test: ['CMD-SHELL', 'wget -qO- http://127.0.0.1:8080/api/v1/health || exit 1']
      interval: 30s
      timeout: 3s
      retries: 3
      start_period: 5s
