name: Publish to npm

on:
  push:
    tags:
      - 'v*'

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v2
        with:
          version: 8

      - uses: actions/setup-node@v4
        with:
          node-version: '18'
          registry-url: 'https://registry.npmjs.org'
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install
        working-directory: ./n8n-nodes-bozonx-social-media-posting-microservice

      - name: Build
        run: pnpm build
        working-directory: ./n8n-nodes-bozonx-social-media-posting-microservice

      - name: Lint
        run: pnpm lint
        working-directory: ./n8n-nodes-bozonx-social-media-posting-microservice

      - name: Publish to npm
        run: pnpm publish --access public --no-git-checks
        working-directory: ./n8n-nodes-bozonx-social-media-posting-microservice
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
